body {
    background-color: white;
}

h1 {
    color: black;
    font-size: 100px;
    font-family: montserrat, sans-serif;
    font-style: italic;
    font-weight:800;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    color: black;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight:800;
    display: flex; 
    justify-content: center;
    align-items: center;
}

select{
    width: 50%;
    font-family: sans-serif;
    margin-top: 8%;
    border-color: #8899A6;
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

option:hover {
    font-weight: bold;
}

th {
    color: black;
    font-family: montserrat, sans-serif;
}

td {
    color: black;
    font-family: montserrat, sans-serif 
}

#count {
    color:black
}