h1 {
    color: black;
    font-size: 100px;
    font-family: montserrat, sans-serif;
    font-style: italic;
    font-weight:800;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    color: #8899A6;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight:800;
    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    width: 50%px;
    font-family: sans-serif;
    border-color: #8899A6;
    text-align: center;

}

option:hover {
    font-weight: bold;

}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}