body {
    background-color:  #15202B;
}

h1 {
    color: white;
    font-size: 100px;
    font-family: montserrat, sans-serif;
    font-style: italic;
    font-weight:800;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    color: #8899A6;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight:800;
    display: flex; 
    justify-content: center;
    align-items: center;
}

select{
    width: 50%px;
    font-family: sans-serif;
    border-color: #8899A6;
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

option:hover {
    font-weight: bold;
}

th {
    color: #8899A6;
    font-family: montserrat, sans-serif;
    text-align: center;
}

td {
    color: white;
    font-family: montserrat, sans-serif;
    text-align: center;
}

#counter {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}

#count {
    color:white;
    font-size: 24px;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.topgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#pages {
    color:white;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight:800;
    display: flex;
}

#answer {
    color:white;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight:800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}